@media (max-width: 1023px) {
  .carousel-container .web-heading {
    font-size: 2rem;
  }

  .carousel-container {
    padding-top: 8rem;
    background: url("./CarouselBG.svg");
    background-size: cover;
    width: 100%;
    height: max-content;
    background-repeat: no-repeat;
    background-position: top;

    /* max-width: 1440; */
  }
  .carousel-container .web-subheading {
    font-size: 1.5rem;
  }
  .carousel-container .web-topic {
    font-size: 1rem;
  }
  .carousel-container .feature-container .feature .feature-image {
    display: flex;
    margin-bottom: 1.5rem;
  }
  .carousel-container .feature-container .feature .feature-image img {
    width: 3rem;
  }
  .carousel-container .feature-container .web-title {
    margin: 2rem auto 2rem;
    color: var(--mako-primary);
  }
  .carousel-card .web-title {
    color: var(--ui-black);
    text-align: left;
    margin: 30px auto 0px 0px;
    font-size: 1rem;
  }
  .carousel-container .web-quote {
    color: var(--ui-black);
    margin: 0 1rem 0 -6rem;
    text-align: left;
    font-size: 0.75rem;
  }
  .carousel-card {
    margin: auto;
    height: 15rem;
    background: var(--ui-white);
    box-shadow: var(--shadow-large);
    border-radius: 10px;
  }
  .indicators {
    margin: 1rem auto 5rem;
    text-align: center;
    font-size: 1rem;
    width: 212px;
    color: var(--ui-white);
  }
}
@media (min-width: 1024px) {
  .carousel-container {
    padding-top: 224px;
  }
  .carousel-container {
    background: url("./CarouselBG.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1325.5px;
    width: 100%;
    max-width: 1440;
  }
  .carousel-container .feature-container .feature .feature-image {
    width: 72px;
    height: 72px;
    float: left;
    display: flex;
  }
  .carousel-container .feature-container .web-title {
    margin: 130px auto 55px;
    color: var(--mako-primary);
  }
  .carousel-card .web-title {
    color: var(--ui-black);
    text-align: left;
    margin: 30px auto 0px 0px;
  }
  .carousel-container .web-quote {
    color: var(--ui-black);
    font-size: 1.2rem;
    margin: 40px 35px 35px -79px;
    text-align: left;
  }
  .carousel-card {
    margin: auto;
    width: 643px;
    height: 273px;
    background: var(--ui-white);
    box-shadow: var(--shadow-large);
    border-radius: 10px;
  }
  .indicators {
    margin: 47px auto 0px;
    text-align: center;
    font-size: 1rem;
    width: 212px;
    color: var(--ui-white);
  }
}

.carousel-container .web-topic {
  text-align: center;
  text-transform: uppercase;
  margin: 0px auto 25px;
  color: var(--support-red);
}
.carousel-container .web-heading {
  text-align: center;
  color: var(--mako-primary);
  margin: auto auto 54px;
}
.container {
  max-width: 1440px;
}
.carousel-container .feature-container .feature {
  max-width: 283px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.carousel-container .feature-container .feature .feature-content {
  /* width: 200px;
  height: 82px; */
  float: right;
  display: flex;
  flex-direction: column;
}

.carousel-container .feature-container .feature .feature-heading {
  line-height: 136%;
  text-align: center;
  color: var(--mako-primary);
  display: flex;
}
.carousel-container .feature-container .feature .feature-description {
  text-transform: uppercase;
  text-align: left;
  color: var(--ui-black);
  opacity: 0.8;
  display: flex;
}

.carousel-main {
  width: 100%;
  height: auto;
  background: transparent;
}

.carousel-card .web-overline {
  color: var(--ui-black);
  text-align: left;
  margin: 0px auto 40px 0px;
}
.carousel-card img {
  border-radius: 50%;
}
.carousel-main .carousel-indicators {
  background-image: url("./CarouselIndicator.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.carousel-main .carousel-indicators .active {
  background-image: url("./CarouselIndicatorActive.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.indicators span {
  margin: auto auto;
}
